html,
body,
h2,
p,
a,
div,
img,
figcaption {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
#slider,
.slides,
.slide,
.bg,
.cover {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.prev,
.next,
.button {
    cursor: pointer;
}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

@font-face {
    font-family: 'Hiragino Kaku Gothic Std';
    src: url('../fonts/hiragino-kaku-gothic-std-w8.otf') format('opentype');
}


h2 {
    font-size: 3.7rem;
    font-family: "Hiragino Kaku Gothic Std";
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 0 .25rem 2rem rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    line-height: 86%;
}

#logo {
    position: fixed;
    top: .5rem;
    left: 50%;
    width: 5.5rem;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.35));
}

.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 5.6rem;
    box-sizing: border-box;
    width: 100%;
}

.slide {
    position: relative;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.bg {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    transition: transform 3s ease-out;
    transition-timing-function: cubic-bezier(0, 0, .1, 1);
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tagline {
    text-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.35);
    font-size: 1.2rem;
    margin-top: 1.75rem;
    margin-bottom: 2.65rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10.125rem;
    height: 2.8rem;
    border-radius: .4rem;
    font-size: .95rem;
    text-shadow: 0px .3rem .7rem rgba(0, 0, 0, 0.35);
    font-weight: bold;
}

.info {
    display: none;
}

.location {
    font-size: .75rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    bottom: 1.55rem;
    right: 1.4rem;
    text-shadow: 0px .25rem .6rem rgba(0, 0, 0, 0.35);
    width: 11rem;
}

.icon-location {
    width: 1.1rem;
}

.slide1 .button {
    background-color: #D5CEBD;
}

.slide2 .button {
    background-color: #FCA776;
}

.slide3 .button {
    background-color: #D6CFA3;
}

.slide3 .bg {
    object-position: bottom;
}

.slide2 .cover:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    width: 70%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(2.5rem);
}

#swiper .swiper-slide .content {
    padding: 1rem;
    text-align: center;
}

#swiper .swiper-slide-active img {
    transform: scale(1);
}

#swiper .swiper-button-next,
#swiper .swiper-button-prev {
    width: 3rem;
    height: 3rem;
}

#swiper .swiper-button-next svg,
#swiper .swiper-button-prev svg {
    opacity: 0.8;
    fill: white;
    filter: drop-shadow(0 .05rem .05rem rgba(0, 0, 0, .6));
    transition: all 0.2s ease-in-out;
}

#swiper .swiper-button-next:hover svg,
#swiper .swiper-button-prev:hover svg {
    opacity: 1;
    filter: drop-shadow(0 .05rem .05rem rgba(0, 0, 0, .8));
}

#swiper .swiper-button-next::after,
#swiper .swiper-button-prev::after {
    content: "";
}